body{
  background-color: rgb(25,25,25);
  color: white;
  font-family:Arial;
}
.title{
  font-size: 30px;
  font-weight: 500;
  line-height: 10px;
}
.first-image{
 width: 50px;
}
.move-button{
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.result{
  font-size: 25px;
  font-weight: 700;
  margin-top: 50px;
}
.score{
  margin-top: 60px;
}
.reset{
  background-color: white ;
  font-size: 15px;
  padding: 8px 15px ;
  border: none;
  cursor: pointer;
}